.cell:empty {
    -fx-opacity: 0;
}

.centered   { -fx-alignment: CENTER }
.hcenter    { -fx-alignment: TOP-CENTER }

.bgPurple   { -fx-background-color: PURPLE }
.bgRed      { -fx-background-color: RED }
.bgGrey     { -fx-background-color: GREY }
.bgCyan     { -fx-background-color: CYAN }
.bgGreen    { -fx-background-color: GREEN }
.bgYellow   { -fx-background-color: YELLOW }
.bgOrange   { -fx-background-color: ORANGE }
.bgBlue     { -fx-background-color: BLUE }
.bgBlack    { -fx-background-color: BLACK }

.pad5   { -fx-padding: 5 }
.pad10  { -fx-padding: 10 }
.pad20  { -fx-padding: 20 }

.spacing3  { -fx-spacing: 3 }
.spacing5  { -fx-spacing: 5 }
.spacing10 { -fx-spacing: 10 }
.spacing20 { -fx-spacing: 20 }

.hgap5  { -fx-hgap: 5 }
.hgap10 { -fx-hgap: 10 }

.vgap5  { -fx-vgap: 5 }
.vgap10 { -fx-vgap: 10 }

