.rootPane {
    -fx-font-family: "Calibri";
    -fx-font-size: 20;
}

.rootPane > * {
    -fx-border-width: 5;
    -fx-border-color: BLUE;
}

.captionBox {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 40;
    -fx-font-weight: BOLD;
}
.captionBox .label {
    -fx-text-fill: RED;
}
