.rootPane {
    -fx-font-family: "Calibri";
    -fx-font-size: 20;
    -fx-spacing: 20;
    -fx-background-color: BLACK;
}

.rootPane .childPane {
    -fx-border-width: 5;
    -fx-border-color: BLUE;
    -fx-background-color: WHITE;
    -fx-padding: 10;
}

.captionBox {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 40;
    -fx-font-weight: BOLD;
    -fx-padding: 10;
}

.captionBox .label {
    -fx-text-fill: BLUE;
    -fx-font-style: italic;
}

