.table-view {
    -darkBlue: #000033;
    -lightBlue: #ccffff;

    -bgColor: -lightBlue;
    -bgColorHover: -darkBlue;
    -fgColor: BLACK;
    -fgColorHover: WHITE;
    /* the following heights are retrieved at runtime parsing this css file to auto resize the height */
    -headerHeight: 40;
    -rowHeight: 35;
}

.table-row-cell {
    -fx-pref-height: -rowHeight;
}
.column-header-background {
    -fx-pref-height: -headerHeight;
}
.table-row-cell:even {
    -fx-background-color: -bgColor;
}

.table-cell {
    -fx-text-fill: -fgColor;
    -fx-alignment: CENTER-LEFT;
}
.table-cell.centered {
    -fx-alignment: CENTER;
}

.table-row-cell:filled:selected .table-cell,
.table-view:row-selection .table-row-cell:filled:hover .table-cell,
.table-view:row-selection .table-row-cell:filled:selected:hover .table-cell,
.table-view:row-selection .table-row-cell:filled:selected:focused:hover .table-cell,
.table-view:row-selection .table-row-cell:filled:selected:focused  .table-cell {
    -fx-text-fill: -fgColorHover;
}

.table-row-cell:filled:selected,
.table-view:row-selection .table-row-cell:filled:hover,
.table-view:row-selection .table-row-cell:filled:selected:hover,
.table-view:row-selection .table-row-cell:filled:selected:focused:hover,
.table-view:row-selection .table-row-cell:filled:selected:focused  {
    -fx-background-color: -bgColorHover;
}
